body {
    font-family: 'Arial', sans-serif;
}

footer {
    background-color: #343a40;
    color: white;
}

.table {
    width: 100%;
    text-align: center;
}

table th, table td {
    padding: 15px;
    text-align: center;
}

@media (max-width: 768px) {
    .container {
        padding: 15px;
    }
}
